.icon-zyjk{
	background:url('../image/menuIcon/作业监控.png') no-repeat center center;
}
.icon-yjcz{
	background:url('../image/menuIcon/应急处置.png') no-repeat center center;
}
.icon-zbgb{
	background:url('../image/menuIcon/值班干部.png') no-repeat center center;
}
.icon-clxx{
	background:url('../image/menuIcon/车辆信息.png') no-repeat center center;
}
.icon-ryxx{
	background:url('../image/menuIcon/人员信息.png') no-repeat center center;
}
.icon-jjsj{
	background:url('../image/menuIcon/信息管理.png') no-repeat center center;
}